# mac stuff
*DS_Store*

sketchy_driver/sketchy-driver
sketchy_driver/sketchy-preview
sketchy_server/sketchy-server

*build*

sketchy_driver/lua-5.2.3/lua
sketchy_driver/lua-5.2.3/luac
sketchy_driver/test
sketchy_driver/tests/test_image.png

# vim
*.swp
*.swo

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
